<!DOCTYPE html>
<html>
<head>
    <title>Hostel Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>Hostel Management System</h2>

<form method="POST" actionsult="" action="/login">
    <input name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>

    <select name="role">
        <option value="admin">Admin</option>
        <option value="student">Student</option>
    </select>

    <button type="submit">Login</button>
</form>

</body>
</html>
