<!-- <!DOCTYPE html>
<html>
<a href="/logout">Logout</a>
<hr>

<head>
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>Student Dashboard</h2>

<h3>Register Complaint</h3>

<form method="POST" action="/add-complaint">

    <input name="title" placeholder="Complaint Title" required>
    <textarea name="description" placeholder="Describe your problem" required></textarea>
    <button type="submit">Submit Complaint</button>
</form>
<hr>
<h3>Your Complaints</h3>

<table border="1">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
    </tr>

    {{range .}}
    <tr>
        <td>{{.Title}}</td>
        <td>{{.Description}}</td>
        <td>{{.Status}}</td>
    </tr>
    {{else}}
    <tr>
        <td colspan="3">No complaints yet</td>
    </tr>
    {{end}}
</table>


</body>
</html> -->













{{define "content"}}

<h3 class="mb-4">Student Dashboard</h3>

<!-- SUBMIT COMPLAINT -->
<div class="card p-4 mb-4">
    <h5 class="mb-3">Submit Complaint</h5>

    <form method="POST" action="/add-complaint">
        <div class="mb-3">
            <input
                type="text"
                name="title"
                class="form-control"
                placeholder="Complaint Title"
                required
            >
        </div>

        <div class="mb-3">
            <textarea
                name="description"
                class="form-control"
                rows="3"
                placeholder="Describe your issue"
                required
            ></textarea>
        </div>

        <button class="btn btn-primary">
            Submit Complaint
        </button>
    </form>
</div>

<!-- MY COMPLAINTS -->
<div class="card p-4">
    <h5 class="mb-3">My Complaints</h5>

    {{range .}}
    <div class="card mb-3 shadow-sm">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h6 class="mb-0 fw-bold">{{.Title}}</h6>

                {{if eq .Status "Resolved"}}
                    <span class="badge bg-success">Resolved</span>
                {{else}}
                    <span class="badge bg-warning text-dark">Pending</span>
                {{end}}
            </div>

            <p class="text-muted mb-0">
                {{.Description}}
            </p>
        </div>
    </div>
    {{else}}
        <p class="text-muted">No complaints submitted yet.</p>
    {{end}}

</div>

{{end}}
